a {
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 100px;
    width: 100px;
    color: rgb(124, 8, 8);
}

ul {
    display: flex;
    list-style: none;
    margin: 10px;
    height: 50px;
    color: coral;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}

.backbtn {
    margin-left: 10px;
}